<nav class="sidebar">
  <ul>
    <li><a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Main information</a></li>
    <li><a routerLink="/user/contacts" routerLinkActive="active">Contacts</a></li>
    <li><a routerLink="/user/skills" routerLinkActive="active">Skills</a></li>
    <li><a routerLink="/user/experience" routerLinkActive="active">Experience</a></li>
    <li><a routerLink="/user/education" routerLinkActive="active">Education</a></li>
    <li><a routerLink="/user/achievements" routerLinkActive="active">Achievements</a></li>
  </ul>
</nav>
