<section class="user-main block">
  <h4>Main information</h4>
  <table>
    <tr>
      <td>Date of birth</td>
      <td>{{ user.birth }}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{ user.location }}</td>
    </tr>
    <tr>
      <td>Maritale Status</td>
      <td>{{ user.maritalStatus }}</td>
    </tr>
    <tr>
      <td>Languages</td>
      <td>{{ user.languages }}</td>
    </tr>
    <tr>
      <td>Salary expectations</td>
      <td>{{ user.salaryExpectations }}</td>
    </tr>
  </table>
  <div class="summary">
    <p>{{ user.summary }}</p>
  </div>
</section>
