<div class="container">
  <div class="user-card">
    <div class="user-card__info">
      <div class="user-card__avatar">
        <img src="./assets/img/avatar.png" alt="Lubchenko Denis">
      </div>
      <div class="user-card__name">{{ currentUser.firstName }} {{ currentUser.lastName }}</div>
      <div class="user-card__position">{{ currentUser.position }}</div>
    </div>
    <div class="user-card__banner">
      <img src="./assets/img/user-card-bg.png" alt="User BG">
      <div class="user-card__banner-bg"></div>
    </div>
  </div>
</div>
